h2 {
    margin-top: 40px;;
}
img {
    border-radius: 15px;;
}

h3 {
    margin: 20px;
}

#home-form {
    display: block;
    align-content: center;
    justify-content: center;
    margin: 20px
}

.play-button {
    height: 50px;
    width: 50px;
    margin: 10px;
    border-radius: 25px;
    
}

.play-button:hover {
    transform: scale(1.1);
}
h1 {
    font-size: 1.6em;
}

a {
    color: black;
    text-decoration: none;
}

p {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.adventure-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 20px;
    padding: 10px;
}
.button {
    margin: 15px;
    height: 25px;
}
#back-to-map {
    margin: 25px;
}

